.idea
/app/config/parameters.yml
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/web/tmp
/web/compiled

/node_modules/
/bower_components/
gassetic.dump.dev.yml
gassetic.dump.prod.yml